# --- PORTAS ---
REDIS_PORT={REDIS_PORT}
MINIO_PORT={MINIO_PORT}
MINIO_CONSOLE_PORT={MINIO_CONSOLE_PORT}
API_PORT={API_PORT}
DASHBOARD_PORT={DASHBOARD_PORT}

# --- MINIO / S3 ---
MINIO_USER=user-minio
MINIO_PASSWORD=password-minio
MINIO_STORAGE_PATH=/mnt/montagem/minio-data

# --- AUTOMAÇÃO XBOX ---
XBOX_IP=000.000.0.00
XBOX_USER=xbox
XBOX_PASS=xbox
XBOX_JOGOS_PATH=/mnt/montagem/minio-data/xboxjogos

# --- JUICEFS CLUSTER ---
JUICEFS_META_URL=redis://redis:{REDIS_PORT}/1
JUICEFS_BUCKET=http://minio:{MINIO_PORT}/juicefs-bucket
JUICEFS_NAME=meu-cluster

# --- REDE / PROXMOX ---
PROXMOX_IP=000.000.0.00
TAILSCALE_NETWORK=000.000.0.0/0