MINIO_ROOT_USER=user-do-minio
MINIO_ROOT_PASSWORD=password-do-minio

MINIO_STORAGE_PATH=/caminho/para/o/diretorio/do/minio

JUICEFS_META_URL=redis://redis:{porta}/1
JUICEFS_BUCKET=http://minio:{porta}/juicefs-bucket
JUICEFS_NAME=nome-do-cluster